<div class="sidebar-list">
  <ul>
    <li routerLink="/dashboard">
      <button mat-button>
        <mat-icon> file_copy</mat-icon>
      </button>
    </li>
    <li routerLink="/share">
      <button mat-button>
        <mat-icon>send</mat-icon>
      </button>
    </li>
    <li routerLink="/activity">
      <button mat-button>
        <mat-icon>timeline</mat-icon>
      </button>
    </li>
    <li routerLink="/notification">
      <button mat-button>
        <mat-icon>access_time</mat-icon>
      </button>
    </li>
  </ul>

</div>
