<!-- <p>dashboard</p> -->
<!-- <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section> -->
<div class="notification-wrapper">

  <div>
    <section>
      <div class="example-button-row upload-wrapper">
        <button class="upload" mat-raised-button>
          <mat-icon>cloud_upload</mat-icon> &nbsp; Upload
        </button>
        <button mat-button class="new-folder">
          <mat-icon>create_new_folder</mat-icon> &nbsp; New Folder
        </button>
      </div>
    </section>
  </div>

  <div class="row sort-wrapper">
    <div class="col-xs-5 text-right">
      <button mat-raised-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="col-xs-2 text-right">
      <mat-form-field appearance="fill">
        <mat-select value="view">
          <mat-option value="view">View</mat-option>
          <mat-option value="timeline">Name</mat-option>
          <mat-option value="path">Date</mat-option>
          <mat-option value="name">Size</mat-option>
          <mat-option value="name">Type</mat-option>
          <mat-option value="name">Timeline</mat-option>
          <mat-option value="name">View A List</mat-option>
          <mat-option value="name">View As Gallery</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-5">
      <form>
        <div class="search-bar">
          <input type="text" placeholder="Search Notifications">
          <mat-icon>search</mat-icon>
        </div>
      </form>
    </div>
  </div>

  <section class="example-section home-check">
    <mat-checkbox class="example-margin"> <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/OneDrive_Folder_Icon.svg/1200px-OneDrive_Folder_Icon.svg.png">
      Home</mat-checkbox>
  </section>


  <div class="row upload-wrapper">
    <div class="col-xs-6">
      <div>
        <mat-checkbox class="example-margin">
        </mat-checkbox>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/OneDrive_Folder_Icon.svg/1200px-OneDrive_Folder_Icon.svg.png">
        <span>
          <h6>Test</h6>
          <p>Updated 12 days ago</p>
        </span>
      </div>
    </div>
    <div class="col-xs-6">

    </div>
  </div>

</div>
