<app-header></app-header>

<mat-sidenav-container class="example-container main-wrapper">

  <mat-sidenav class="side-navbar" mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-progress-bar mode="indeterminate"  *ngIf="loading"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value="{{value}}" *ngIf="fileLoading"></mat-progress-bar>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>