<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 2%">
            <form class="col-md-12" [formGroup]='signupForm' (ngSubmit)="onSubmit()">
                <div style="text-align: center;margin-bottom: 25px;">
                    <img
                        src="https://digimedix.exavault.com/content/view/logo/d8c9a1a53403fb19a0c0228d2cad0e44.jpeg?1656425557388">

                </div> 
                       <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                <mat-card  class="col-md-12" >
                    <mat-card-title>
                        Sign Up
                    </mat-card-title>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" formControlName="firstname">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" formControlName="lastname">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" formControlName="phone">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">

                        <mat-form-field appearance="outline">
                            <mat-label>Company Name</mat-label>
                            <input matInput placeholder="Company Name" formControlName="company_name">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Storage Server</mat-label>
                            <input matInput placeholder="Storage Server" formControlName="storage_server">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Account Name</mat-label>
                            <input matInput placeholder="Account Name" formControlName="account_name">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="password" type="password">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="margin-top: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Confirm Password" formControlName="c_password" type="password">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div  style="margin-top: 15px;">
                            <button mat-raised-button color="primary" style="width: 20%;" type="submit">Sign Up</button>
                        </div>
                    </div>
                   
                    <div class="col-md-12" style="margin-top: 20px;text-align: center;">
                        <p>Alread have a account? <a routerLink="/login">Login</a> </p>
                    </div>
                </mat-card>
            </form>
        </div>


    </div>
</div>