.send-wrapper {
    margin: 35px 0 30px;
    padding-top: 40px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  
    h2 {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 15px;
  
      mat-icon {
        font-size: 11px;
        transform: rotate(-30deg);
        position: relative;
        right: -10px;
        top: -4px;
      }
  
      color: rgb(27, 84, 235);
      margin-bottom: 15px;
    }
  
    .choose-file {
      padding: 50px 30px;
      border: 2px dashed #ccc;
      border-radius: 4px;
      text-align: center;
      color: #555;
  
      h5 {
        font-size: 22px;
        color: #b2b2b2;
      }
  
      p {
        margin-bottom: 5px;
        color: #b2b2b2;
        font-size: 16px;
      }
  
      .file-btn {
        border: 1px solid #1B54EB;
        color: #1B54EB;
        margin: 5px 5px 10px 5px;
        background-color: rgba(27, 84, 235, 0.04);
      }
  
      .browse-btn {
        background-color: #1B54EB;
        color: #fff;
        font-weight: normal;
        margin-top: 5px;
      }
    }
  
    .share-form {
      margin-bottom: 20px;
  
      p {
        padding: 2px 3px;
        font-size: 11px;
        font-weight: 400;
        margin-bottom: -4px;
      }
  
      .add-cc {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        button {
          color: rgb(27, 65, 207);
          padding: 0;
        }
      }
  
      mat-form-field {
        width: 100%;
        padding: 0;
  
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }
  
        mat-label {
          padding: 2px 3px;
          font-size: 11px;
          font-weight: 400;
        }
      }
    }
  
    .custome-message {
      mat-form-field {
        width: 100%;
        padding: 0;
  
        .add-cc {
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          button {
            color: rgb(27, 65, 207);
            padding: 0;
          }
        }
  
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }
  
        p {
          padding: 2px 3px;
          font-size: 11px;
          font-weight: 400;
          margin-bottom: 0;
        }
  
        mat-label {
          padding: 2px 3px;
          font-size: 11px;
          font-weight: 400;
        }
  
        input {
          transition: border-color .2s cubic-bezier(0, 0, .2, 1) 0ms;
          border-radius: 6px;
          height: 51px;
          margin-right: 5px;
        }
      }
    }
  
    .recipients {
      margin: 35px 0 35px 35px;
  
      div {
        margin-bottom: 16px;
        font-size: 16px;
      }
  
      mat-radio-group {
        margin: 35px 0 30px;
  
        h4 {
          font-size: 20px;
          color: rgb(85, 85, 85);
          margin-bottom: 30px;
        }
      }
    }
  
    .mat-accordion {
      .mat-expansion-panel {
        color: rgb(27, 84, 235);
        box-shadow: none;
      }
  
      mat-panel-title {
        margin-bottom: 20px;
        color: rgb(27, 84, 235);
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
  
        mat-icon {
          color: rgb(27, 84, 235);
          margin-right: 12px;
        }
      }
  
      .row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
  
        h6 {
          font-size: 16px;
          color: #555;
          display: flex;
          align-items: center;
  
          mat-icon {
            color: #555;
            margin-right: 10px;
          }
        }
  
        mat-form-field {
          width: 100%;
        }
      }
    }
  
    mat-radio-button {
      font-size: 16px;
    }
  
    .mat-checkbox {
      font-size: 16px;
    }
  
    .send-btn {
      background-color: #1B54EB;
      color: #fff;
    }
  
    a {
      text-decoration: underline;
      color: rgb(27, 65, 207);
    }
  
    // ---------share--------
  
    .manage-btn {
      background-color: #1B54EB;
      color: #fff;
      font-weight: normal;
      margin-top: 5px;
    }
  }
  
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  // ::ng-deep .mat-form-field-outline {
  //   display: none;
  // }
  
  // .mat-tab-header {
  //   background-color: #F9F9F9;
  // }
  
  // .ac{
  //   color: #5350FF;
  //     box-shadow: 0px -2px 2px rgb(0 0 0 / 5%);
  //     border-bottom: none;
  //     background-color: #FFF;
  //     border-top-left-radius: 10px;
  //     border-top-right-radius: 10px;
  // }